<html>
    <head>
    </head>
        <body>
            asdfsrerearge

            <% @rooms.each do |room| %>
                <%= room.name %>
                <br>
                <%= room.describe %>
            <% end %>        
        </body>
    
</html>
