/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "jquery-ui/autocomplete";
 @import "jquery-ui/theme";
 @import "jquery-ui/menu";


 /* 共通処理 */
*{
  margin:0;
  padding:0;
  color:#232323; /* default color */
  text-decoration: none;
  }

li{
  list-style: none;
}


body{
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

.container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.main-container{
  background: #fff;
  min-height: 100vh;
  width: calc(100% - 200px);
  margin-left: 202px;
}

.sub-container{
  background: #fff;
  position: fixed;
  width: 200px;
  height: 100vh;
  padding: 0px;
  border-right: 2px solid #f6f6f6;
  z-index: 9999;
  /* メニュー */
  .menu{
    margin-left: 5px;
    .menu-one{
      font-size: 19px;
      margin-bottom: 10px;
      display: inline-block;
      padding: 7px 10px;
      width:88%;
      cursor: pointer;
      cursor: hand;
      user-select: none;
    }
    .menu-one:hover{
      background-color: #F4F4F4;
      border-radius:5px;
      transform: 0.5s;
    }
    a{
      color: #4e4e4e;
    }
    i{
      font-size: 25px;
      color: #2e2e2e;
    }
  }
  /* ユーザー情報 */
  .user-info{
    display:flex;
    align-items: top;
    margin: 10px 0px 20px 5px;
    padding:5px;
    .user-icon{
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }
    .user-info-right{
      margin-left: 10px;
      .user-name{
        font-size: 17px;
      }
    }
    .user-status{
      color: #e0e0e0;
      font-size: 13px;
      &.online{
        color: #64dd18;
      }
    }
  } 
}

.login-form {
  margin: 10px 0px 0px 20px;
  button {
    background-color: #ffffff;
    border: 1px solid #49c296;
    padding: 2px 8px;
    font-size: 20px;
    color: #49c296;
    margin-right: 10px;
    cursor: pointer;
    cursor: hand;
    &:hover {
      border: 1px solid #49c296;
      color: #fff;
      background-color: #49c296;
      transition: 0.5s;
    }
  }
}

.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .6s;
}

.modal-content {
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 10px;
  font-size: 1.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 536px;
  margin: auto 10px;
  .modal-header {
    display: flex;
    padding: 10px 10px 5px 10px;
    background-color: #fff;
    border-bottom: solid 2px #e6e6e6;
    color: white;
    justify-content: space-between;
    .title {
      font-size: 20px;
      color: #2dbb8c;
      font-weight: bold;
    }
    .close {
      float: right;
    }
  }
  .modal-body {
    background-color: #ffffff;
    border-radius:0px 0px 10px 10px;
    padding: 12px 0px 12px 0px;
    overflow-y: scroll;
    height: 473px;
    .create-from{
      padding: 12px;
      flex-flow: column;
      .room-type{
        display: inline-block;
        width: 94px;
        height: 28px;
        margin: 2px;
        position: relative;
        overflow: hidden;
      }
      .room-type-cb{
        display: inline-block;
        position: relative;
        width: 48px;
        height: 28px;
        margin: 2px;
        border-radius: 50px;
        overflow: hidden;
        cursor: pointer;
        input[type="checkbox"] {
          display: none;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: #e9e9eb;
          -webkit-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
        }
        &:after {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          width: 22px;
          height: 22px;
          display: block;
          border-radius: 50px;
          background: #fff;
          box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
          -webkit-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
        }
      }
      .room-type-cb.checked {
        &:before {
          background: #35c759;
        }
        &:after {
          left: 23px;
          box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
        }
      }
      .room-type-cb.checked + .invite-members{
        display: flex;
      }
      .invite-members{
        display: none;
      }
      input[type="text"]{
        background-color: #F4F4F4;
        border: none;
        width: 99%;
        height: 30px;
        margin-bottom: 16px;
        padding: 2px 5px;
      }
      input[type="file"] {
        margin-bottom: 10px;
      }
      .submit-area {
        text-align: center;
        input[type="submit"] {
          background-color: #2dbb8c;
          border: none;
          color: #fff;
          text-align: center;
          padding: 10px 20%;
          cursor: pointer;
          cursor: hand;
          &:hover {
            opacity: 0.7;
            transition: 0.4s;
          }
        }
      }
      textarea{
        width: 99%;
        max-width: 99%;
        min-width: 99%;
        height: 30px;
        margin-bottom: 4px;
        background-color: #F4F4F4;
        border: none;
        padding: 2px 5px;
        min-height: 127px;
        max-height: 127px;
      }
      .category{
          display: flex;
      }
      .form-label {
        user-select: none;
        font-size: 16px;
        color: #393939;
      }
    }
  }
  .modal-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .modal-body::-webkit-scrollbar-track {
    background: linear-gradient(white ,white);
  }
  
  .modal-body::-webkit-scrollbar-thumb {
    background: rgb(213, 213, 213);
    border-radius:5px;
  }
}


@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}