*{
margin:0;
padding:0;
}

.sidebar {
  background: #2e2e2e;
  float: left;
  position: fixed;
  height: 100vh;
  width: 300px;
}

.content {
  background: #3c3d3d;
  float: left;
  height: 100vh;
  width: 100%;
}