.search-area {
  margin: 30px 10px 10px 10px;
  text-align: center;
  input {
    box-sizing: border-box;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    padding: 3px 3px 3px 8px;
    background-color: #F4F4F4;
    font-size: 16px;
  }
  input:focus {
    outline: 0;
    border: none;
  }
}

.search-count {
  margin: 10px 10px 30px 10px;
  
}

.room-button-area {
  margin-left: 10px;
  a {
    color: #fff;
  }
  .create-room {
    display: inline-block;
    background-color: #10bc8a;
    border-radius: 50%;
    padding: 3px 10px;
    font-size: 25px;
    color: #10bc8a;
  }
  .joined-room {
    display: inline-block;
    background-color: #10bc8a;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 25px;
    color: #10bc8a;
  }
  i {
    color: #fff;
  }
}

.content-column {
  display: flex;
  margin-bottom: 10px;
  .title {
    font-size: 25px;
    color: #2e2e2e;
    margin: 10px 0px 0px 10px;
  }
  .title2 {
    font-size: 25px;
    color: #2e2e2e;
    margin: 10px 0px 0px 20px;
  }
}


.rooms {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  .room {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc((100% - 8%) / 4);
    @media screen and (max-width: 1200px) {
      width: calc((100% - 8%) / 3);
    }
    @media screen and (max-width: 900px) {
      width: calc((100% - 8%) / 2);
    }
    margin: 0px 2% 40px 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #ffffff;
    
    .spread-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    
    .room-bg-image {
      width: 100%;
      height: 15vh;
      background-color: #d1d1d1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        opacity: 0.8;
      }
    }
    .room-titles {
      padding: 10px;
      margin-top: 30px; 
      .room-category-time {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      
      .room-category {
        z-index: 3;
      }
      .room-category a {
        border: 1px solid #5ac29c;
        border-radius: 5px;
        padding: 2px 8px;
        font-size: 15px;
        color: #5ac29c;
        margin-right: 10px;
      }
      .room-category a:hover {
        border: 1px solid #5ac29c;
        color: #fff;
        background-color: #5ac29c;
        transition: 0.5s;
      }
      
      .room-create-time {
        color: #acacac;
        font-size: 14px;
        i {
          color: #acacac;
        }
      }
      
      .title {
        font-size: 16px;
        color: #4b4b4b;
      }
    }
    .join-btn-area {
      z-index: 3;
      text-align: right;
      margin: auto 5px 10px 10px;
    }
    .join-btn {
      width: 30%;
      text-align: center;
      border: 1px solid #62a1e5;
      border-radius: 5px;
      padding: 8px 13px;
      font-size: 16px;
      color: #62a1e5;
    }
    .join-btn:hover {
      border: 1px solid #62a1e5;
      color: #fff;
      background-color: #62a1e5;
      transition: 0.5s;
      }
    
    .room-image {
      position: absolute;
      top: 16%;
      left: 24%;
      z-index: 1;
      width: 35%;
      background-color: #d1d1d1;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
        //border: 4px solid #ffffff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      }
    }
    
    &:hover {
      .title {
        color: #3684d7;
        transition: 0.3s;
      }
      .room-bg-image{
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }
}

.joined-rooms {
  margin-left: 10px;
  .joined-room {
    display: flex;
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
    padding: 10px;
    .room-image {
      width: 65px;
      height: 65px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
    .room-titles {
      margin-left: 10px;
      .title {
        margin-bottom: 10px;
        color: #363636;
        font-size: 18px;
      }
      .room-category-time {
        display: flex;
        align-items: center;
      }
      .room-category a {
        border: 1px solid #5ac29c;
        border-radius: 5px;
        padding: 2px 8px;
        font-size: 15px;
        color: #5ac29c;
        margin-right: 10px;
        }
      .room-category a:hover {
        border: 1px solid #5ac29c;
        color: #fff;
        background-color: #5ac29c;
        transition: 0.5s;
      }
      .room-create-time {
        color: #acacac;
        font-size: 14px;
        i {
          color: #acacac;
        }
      }
    }
  }
  .joined-room:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
  }
}

.room-header-list {
  position: fixed;
  top: 0;
  left: 202px;
  width: 100%;
  z-index: 10;
  #message-notice {
    width: 100%;
    background-color: #10bc8a;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    cursor: hand;
  }
}
.room-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0.2%;
  z-index: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: #fff;
}

.room_header_left {
  display: flex;
  color: #2a2a2a;
  border-radius: 50%;
  cursor: pointer;
  cursor: hand;
  .room_title{
    margin-right: 8px;
    display: flex;
    padding: 3px 10px;
    &:hover{
      background-color: #F4F4F4;
      transition: 0.6s;
    }
    .room_datail_button{
      margin-left: 8px;
      i {
        font-size: 20px;
      }
    }
  }
}

.modal-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  .modal-menu-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .modal-menu-container.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-menu-body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 90%;
  }
  .modal-menu-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
  }
  .modal-menu-content {
    background: #fff;
    text-align: left;
    padding: 30px;
  }
}

.room_title {
  font-size: 25px;
  color: #2a2a2a;
  padding-top: 5px;
}

.room_back {
  font-size: 25px;
  padding: 5px 18px;
  border-radius: 50%;
  margin-right: 2px;
}
.room_back i {
  color: #c7c7c7;
}

.room_back:hover {
  background-color: #f0f0f0;
  transition: 0.5s;
}

.room-content {
  width: calc(100% - 40px);
  padding: 10px 0px 80px 10px;
  margin-top: 55px;
  .infinite-scroll {
    .cv-spinner {
      margin: 22px 0px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;  
    }
    .spinner {
      width: 20px;
      height: 20px;
      border: 4px #ddd solid;
      border-top: 4px #2e93e6 solid;
      border-radius: 50%;
      animation: sp-anime 0.8s infinite linear;
    }
    @keyframes sp-anime {
      100% { 
        transform: rotate(360deg); 
      }
    }
    .hide {
      display:none;
    }  
  }
  .message-all {
    display: none;
    .message-one {
      display: flex;
      font-size: 15px;
      padding: 15px 10px 15px 10px;
      margin-bottom: 10px;
      word-break: break-all;
      img{
        max-width: 90%;
      }
      .message-left {
        img{
          width: 35px;
          height: 35px;
          object-fit: cover;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 6px;
        }
      }
      .message-right {
        width: 100%;
        .message-user-info {
          display: flex;
          align-items: flex-end;
          .message-username {
            font-size: 15px;
            font-weight: bold;
            color: #2e2e2e;
          }
          #message-time {
            color: rgb(148, 148, 148);
            margin-left: 6px;
            padding-bottom: 2px;
            font-size: 12px;
          }
          #message-delete {
            font-size: 12px;
            padding-bottom: 2px;
            margin-left: 10px;
          }
        }
      }
      p {
        color:rgb(68, 68, 68);
      }
    }
    .message-one:hover {
      background-color: #f4f4f4;
      transition: 0.5s;
    }
    .message_view {
      display: none;
      visibility: hidden;
    }
  }
}


.user-status {
  color: #e0e0e0;
  font-size: 25px;
  &.online {
    color: #31d347;
  }
}

.room_button {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  width: 15%;
  font-size: 20px;
}
.create_room {
  background-color: black;
  border-radius: 0.3rem;
  padding: 0.2rem 0.2rem;
  margin-right: 10px;
}
.back_button {
  background-color: black;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
}




.message-form {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 202px;
  align-items: flex-end;
  padding: 12px;
  background-color: rgb(242, 242, 242);
  width: 100%;
}

.message-form input[type="submit"] {
  width: 32px;
  height: 32px;
  margin-left: 17px;
  margin-bottom: 2px;
  outline: none;
  border: none;
  background: url(submit.png) no-repeat;
  opacity: 0.2;
  cursor: pointer;
  cursor: hand;
}

.message-textarea {
  background-color: #fff;
  width: calc(100% - 297px);
  position: relative;
  font-size: 15px;
  line-height: 20px;
}

.dummy-textarea {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 50px;
  max-height: 150px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.dummy-margin {
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 0px;
  max-height: 150px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-sentense-class {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.message-sentense-class:focus {
  outline: none;
  border: none;
}

.modal-detail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.is-show {
  opacity: 1;
  visibility: visible;
}

.modal-detail-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 70%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
  
  .detail-body{
    height: calc(92% - 24px);
    background-color: #fff;
    
    .tab_container {
      padding-bottom: 1em;
      background-color: #fff;
      
      #tab1:checked ~ #tab1_content,
      #tab2:checked ~ #tab2_content,
      #tab3:checked ~ #tab3_content {
        display: block;
      }
        .tab_item {
          width: calc(100%/4);
          padding:15px 0;
          text-align: center;
          color: #333636;
          float: left;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          cursor: hand;
          margin-bottom: -2px;
        }
        .tab_item:hover {
          opacity: 0.75;
        }
        input[name="tab_item"] {
          display: none;
        }
        input:checked + .tab_item {
          border-bottom: 2px solid #10bc8a;
          color: #10bc8a;
        }
      .tab_content {
        border-top: 2px solid #eaeaea;
        display: none;
        padding: 10px;
        clear: both;
        overflow-y: scroll;
        height: 55vh;

        .edit_room_function {
          flex-flow: column;
          input[type="text"]{
            width: 99%;
            height: 30px;
            margin-bottom: 4px;
            background-color:#F4F4F4;
            border: none;
            border-radius: 3px;
            padding: 2px 5px;
          }
          textarea{
            padding: 2px 2px 2px 2px;
            display: block;
            box-sizing: border-box;
            width: 99%;
            background: #F4F4F4;
            margin: 7px 0;
            color: #000000;
            min-height: 167px;
            max-height: 167px;
            position: relative;
            resize: none;
            overflow: hidden;
            border: none;
            border-radius: 3px;
            font: inherit;
            font-size: 14px;
          }
          input[type="file"] {
            margin-bottom: 6px;
          }
          .category {
            display: flex;
          }
          .submit-area {
            text-align: center;
            margin-top: 30px;
            input[type="submit"] {
              background-color: #2dbb8c;
              border: none;
              color: #fff;
              text-align: center;
              padding: 10px 20%;
              cursor: pointer;
              cursor: hand;
              &:hover {
                opacity: 0.7;
                transition: 0.4s;
              }
            }
          }
        }
      }
      .tab_content::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        
        .tab_content::-webkit-scrollbar-track {
          background: linear-gradient(white ,white);
        }
        
        .tab_content::-webkit-scrollbar-thumb {
          background: rgb(213, 213, 213);
          border-radius:5px;
      }
    }
  }
}

.detail-header{
  background-color: #fff;
}

.modal-inner-content{
  word-wrap: break-word;
  padding: 10px 5px;
  .title{
    font-size: 17px;
    color:#222222;
  }
  .contents{
    font-size: 14px;
    color: #626262;
  }
  &:hover{
    background-color: #F4F4F4;
    transition: 0.6s;
  }
}

.modal-room-back{
  padding: 10px 5px;
  text-align: center;
  .room-back-contents{
    font-size: 16px;
    a {
      color: rgb(229, 25, 25);
    }
  }
  &:hover{
    background-color: #ffe8e8;
    transition: 0.6s;
  }
  .box {
    width: 100%;
  }

  .box a {
    display: block;
    width: 100%;
    height: 100%;
  }
}


.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.background-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
}

.room-user-list {
  display: flex;
  padding:10px; 
  &:hover{
    background-color: #F4F4F4;
    transition: 0.6s;
  }
  .icon {
    width: 55px;
    height: 55px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  .info {
    margin-left: 5px;
    
    .info-top {
      display: flex;
      align-items: center;
      .name {
        font-size: 18px;
        color: #363636;
      }
      
      .user-status{
        font-size: 10px;
        align-items: center;
        margin-left: 3px;
        color: #e0e0e0;
        &.online{
          color: #31d347;
        }
      }
    } 
    
    .role {
      margin-left: 1px;
      font-size: 13px;
      color: #626262;
    }
  }

}

.ui-autocomplete,
.ui-menu {
  z-index: 9999;
}

.acd-check{
  display: none;
}
.acd-label{
  background: rgb(255, 255, 255);
  display: block;
  margin-bottom: 1px;
  padding: 10px 0px 10px 5px;
  position: relative;
  border-bottom: 2px solid rgb(228, 228, 228);
  cursor: pointer;
  cursor: hand;
  color: #515151;
  &:hover{
    color: #10bc8a;
    transition: 0.3s;
  }
}
.acd-label:after{
  background: #ffffff;
  box-sizing: border-box;
  content: '\f619';
  display: block;
  font: var(--fa-font-solid);
  height: 44px;
  padding: 15px 10px 0px 10px;
  position: absolute;
  right: 0;
  top: 0px;
}
.acd-content{
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .3s;
  visibility: hidden;
}
.acd-check:checked + .acd-label:after{
  content: '\f2fe';
}
.acd-check:checked + .acd-label + .acd-content{
  height: auto;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}
