<div class="content-column">
  <div class="title">設定</div>
</div>
<div class="setting-area">
  <div class="setting-user">
    <img class="index-image" alt="index-icon" src=<%= @current_user.image %>>
    <div class="setting-user-right">
        <i class="fa-solid fa-user"></i> <%= @current_user.name %><br>
        <i class="fa-solid fa-envelope"></i> <%= @current_user.email %></p>
        <div class="logout-area">
                <% if @current_user %>
                <%= link_to "ログアウトする", destroy_session_path, data: {turbo_method: :post} %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
