<ul class="skill-list jscroll">
  <% @mess.each do |mess| %>
    <li><%= safe_join(mess.sentence.split("\n"),tag(:br)) %></li>
  <% end %>
    <%= paginate @mess %>
</ul>
<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")
</script>

<!--ページ表示部分-->