<div class="search-area">
  <input type="search" placeholder="キーワードを入力してルームを検索">
</div>

<div class="content-title">最新ルーム</div>

<div class="rooms">
  <% @rooms.each do |room| %>
    <%= link_to "/room/#{room.id}" do %>
      <div class="room"> 
          <div class="room-image">
            <% if room.image.length > 0 %>
              <img src = "<%= room.image %>" class="room-image">
            <% end %>
          </div>
          <%= room.name %>
      </div>
    <% end %>
  <% end %>
</div>


