<h1>ROOM</h1>

<div class="room_button">
  <div class="create_room">
    <%= link_to "新規作成", "/room/new" %>
  </div>

  <div class="back_button">
    <%= link_to "戻る", "/" %>
  </div>
</div>

<div class="rooms">
  <% @rooms.each do |room| %>
    <%= link_to "/room/#{room.id}" do %>
      <div class="rooms_name">
        <%= room.name %>
      </div>
    <% end %>
  <% end %>
</div>
