#room create page

<h1>新規作成</h1>
<%= form_tag("/room/new" , {multipart: true}) do %>
<p id="alert"><%= alert %></p>
room名 <input name="name">
roomの詳細 <input name="describe">
アイコン選択<input type="file" name="image">
<br>
<input type="submit" value="新規作成">
<% end %>

<%= link_to "戻る", "/room" %>