<h1>ROOM</h1>
<div class="room_button">
  <div class="back_button">
    <%= link_to "戻る", "/room" %>
  </div>
</div>

<h1>新規作成</h1>
<%= render "form", room: @room %>
<br>
人気カテゴリー  
<% @categories.each do |category| %>
  <%= category[0] %>(<%= category[1] %>)
<% end %>