<div class="search-area">
  <%= search_form_for @q, url: room_search_path do |f| %>
    <%= f.search_field :name_cont, placeholder: "キーワードを入力してルームを検索", required: true  %>
    <% f.submit '検索' %>
  <% end %>
</div>


<script type="text/javascript">
$(function() {
    const dataList = function(request, response) {
      $.ajax({
        url: '/name_auto/' + request.term,
        dataType: 'json',
        type: 'GET',
        cache: true,
        success: function(data) {
          response(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          response(['']);
        }
      });
    }
    $("#q_name_cont").autocomplete({
      source: dataList,
    });
});
</script>